@import 'colors';
@import 'spacing';
@import "sizes";
@import '../../../../node_modules/bulma/bulma.sass';
@import "~@creativebulma/bulma-divider";
@import url('http://fonts.cdnfonts.com/css/sitara');

$font-stack: 'Sitara', sans-serif;

body {
    color: #F6FAFB;
    font-family: $font-stack;
    padding: 0;
    margin: 0;
}

.is-not-hoverable {
    pointer-events: none;
}

